<% authorized = true %>
<% if authorized then %>
  <tr>
    <td>カテゴリ</td>
    <td><input type="text" name='entry[categories]' value='<%= entry.categories.to_s.gsub(/\'/,"\\\\\'") %>'></td>
  </tr>
  <tr>
    <td>評　　価</td>
    <td><input type="text" name='entry[score]' value='<%= entry.score.to_s.gsub(/\'/,"\\\\\'") %>'></td>
  </tr>
  <tr>
    <td valign='top'>コメント</td>
    <td>
      <textarea name='entry[comment]' rows='10' cols='70'><%= entry.comment %></textarea>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" value="更新"></td>
  </tr>
<% end %>
