<!--
    本棚の書籍リスト
    from app/views/shelf/show.rhtml

    実際にはこれは使わない
  -->

<% shelf = Shelf.where(name: shelfname)[0] %>

<%= render 'header', shelf: shelf %>

<div id="shelf_v">
  <div id="shelf">
    <div class="shelf_h">
      <%= image_tag "/images/fms.gif", :class => "fms" %>
    </div>
    <!-- Rails4以降でfindメソッドが使えないらしい
	 Shelf.find(:first, :conditions => ["name = ?", shelfname])
	 これを where() に変えるらしい
      -->
    <% shelfname = params['shelfname'] %>
    <!-- partialなrender, locals経由のデータ渡し -->
    <%= render 'imagelist', entries: shelf.entries %>
  </div>
</div>
<div id="shelf_shade"></div>

<%= render 'footer' %>
